.cell {
    border: 1px solid black;
    padding: 0%;
    width: auto;
    white-space: nowrap;
    max-width: auto;
    
}

/* .cellXDiv {
    margin: auto;
    text-align: center;
}

.cellX {
    font-size: small;
    text-align: center;
}

.cellXInvisible {
    display: none;
} */

#board {
    margin: auto;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
}

.cellUnknown {
    background-color: aliceblue;
}

.cellBlank {
    background-color: gray;
}

.cellFilled {
    background-color: greenyellow;
}

.cellWrong {
    border-color: red;
    /* border-width: 3px; */
}

table {
    table-layout: fixed;
}
